*{
    font-family: 'Dosis', sans-serif;
}


@media screen and (min-width: 320px) {
    .container-login{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        background: rgb(232,206,77);
        background: linear-gradient(180deg, rgba(232,206,77,1) 0%, rgba(204,111,0,1) 100%);
        width: 150px;
        height: 400px;
    
    }
    
    .container-input{
        width: 150px;
        
    }
    
    .input-email{
        display: flex;
        flex-direction: column;
    }
    
    .input-senha{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .input{
        height: 30px;
        width: 130px;
    
        background-color: rgba(0, 0, 0, 0.062);
        border: white 1px solid;
    
        border-radius: 10px;  
    
        padding: 0 0 0 10px;
    
        transition: .3s ease-out;
    
        margin: 5px 0;

        font-size: 10px;
    }
    
    .input:focus{
        outline-style:outset;
        height: 35px;
        outline-color: rgb(255, 94, 0);
    }
    
    ::placeholder{
        color: black;
    }
    
    .button-login{
        width: 130px;
        height: 30px;
    
        border-radius: 10px;
        border: none;
    
        cursor: pointer;
    
        font-size: 20px;
    
        box-shadow: 2px 2px 2px #a05800;
        
        transition: 0.3 ease-out;
    }
    
    .button-login:hover{
        height: 35px;
        background-color: #ffcb8c;
    }
    
    .remember{
        position: absolute;
        display: flex;
        left: 35px;
        bottom: 110px;
    }
    
    .remember>p{
        font-size: 13px;
        margin: 0 0 0 5px;
    }
    
    input[type="checkbox"]{
        cursor: pointer;
    }
    
    .forgot{
        position: absolute;
        right: 30px;
        bottom: 90px;
        font-size: 13px;
        text-decoration: none;
        color: black;
        transition: .3s ease-out;
    }
    
    .forgot:hover{
        font-size: 16px;
    }
    
    .eye{
        position: absolute;
        bottom: 8px;
        right: 10px;
        cursor: pointer;
    }

    
}

@media screen and (min-width:768px) {
    .container-login{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        background: rgb(232,206,77);
        background: linear-gradient(180deg, rgba(232,206,77,1) 0%, rgba(204,111,0,1) 100%);
        width: 300px;
        height: 400px;
    
    }
    
    .container-input{
        width: 250px;
        
    }
    
    .input-email{
        display: flex;
        flex-direction: column;
    }
    
    .input-senha{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .input{
        height: 40px;
        width: 250px;
    
        background-color: rgba(0, 0, 0, 0.062);
        border: white 1px solid;
    
        border-radius: 10px;  
    
        padding: 0 0 0 10px;
    
        transition: .3s ease-out;
    
        margin: 10px 0;

        font-size: 15px;
    }
    
    .input:focus{
        outline-style:outset;
        height: 45px;
        outline-color: rgb(255, 94, 0);
    }
    
    ::placeholder{
        color: black;
    }
    
    .button-login{
        width: 250px;
        height: 30px;
    
        border-radius: 10px;
        border: none;
    
        cursor: pointer;
    
        font-size: 20px;
    
        box-shadow: 2px 2px 2px #a05800;
        
        transition: 0.3 ease-out;
    }
    
    .button-login:hover{
        height: 35px;
        background-color: #ffcb8c;
    }
    
    .remember{
        position: absolute;
        display: flex;
        left: 30px;
        bottom: 80px;
    }
    
    .remember>p{
        font-size: 15px;
        margin: 0 0 0 5px;
    }
    
    input[type="checkbox"]{
        cursor: pointer;
    }
    
    .forgot{
        position: absolute;
        right: 30px;
        bottom: 80px;
        font-size: 15px;
        text-decoration: none;
        color: black;
        transition: .3s ease-out;
    }
    
    .forgot:hover{
        font-size: 16px;
    }
    
    .eye{
        position: absolute;
        bottom: 18px;
        right: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width:1024px) {
    .container-login{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        background: rgb(232,206,77);
        background: linear-gradient(180deg, rgba(232,206,77,1) 0%, rgba(204,111,0,1) 100%);
        width: 300px;
        height: 400px;
    
    }
    
    .container-input{
        width: 250px;
        
    }
    
    .input-email{
        display: flex;
        flex-direction: column;
    }
    
    .input-senha{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .input{
        height: 40px;
    
        background-color: rgba(0, 0, 0, 0.062);
        border: white 1px solid;
    
        border-radius: 10px;  
    
        padding: 0 0 0 10px;
    
        transition: .3s ease-out;
    
        margin: 10px 0;
    }
    
    .input:focus{
        outline-style:outset;
        height: 45px;
        outline-color: rgb(255, 94, 0);
    }
    
    ::placeholder{
        color: black;
    }
    
    .button-login{
        width: 250px;
        height: 30px;
    
        border-radius: 10px;
        border: none;
    
        cursor: pointer;
    
        font-size: 20px;
    
        box-shadow: 2px 2px 2px #a05800;
        
        transition: 0.3 ease-out;
    }
    
    .button-login:hover{
        height: 35px;
        background-color: #ffcb8c;
    }
    
    .remember{
        position: absolute;
        display: flex;
        left: 30px;
        bottom: 80px;
    }
    
    .remember>p{
        font-size: 15px;
        margin: 0 0 0 5px;
    }
    
    input[type="checkbox"]{
        cursor: pointer;
    }
    
    .forgot{
        position: absolute;
        right: 30px;
        bottom: 80px;
        font-size: 15px;
        text-decoration: none;
        color: black;
        transition: .3s ease-out;
    }
    
    .forgot:hover{
        font-size: 16px;
    }
    
    .eye{
        position: absolute;
        bottom: 18px;
        right: 10px;
        cursor: pointer;
    }
}
